.blog-container {
  background: black;
  padding-left: 20px;
  padding-right: 20px;
}
.about {
  width: 600px;
}

@media (max-width: 767px) {
  .blog-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 574px) {
  .blog-tabs {
  }
}
