.blog-container {
  background: black;
  padding-left: 20px;
  padding-right: 20px;
}
.about {
  width: 600px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root {
  --bg: #251c5a;
  --range-thumb-bg: #efedfc;
  --range-thumb-br: #8e7eeb;
  --track-bg: #eeeeee;
  --track-active-bg: #cec8f6;
  --text: black;
}






.multi-range-slider {
  position: relative;
  width: 100%;
  height: 2rem;
  display: block;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  background: transparent;
  appearance: none;
  position: absolute;
  z-index: 10;
  height: 100%;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"].hover.active::-webkit-slider-thumb {
  background: var(--range-thumb-br);
  border: 0.35rem solid var(--range-thumb-bg);
  box-shadow: 0 0 2rem 0.5rem var(--range-thumb-br);
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  -webkit-appearance: none;
  cursor: pointer;
  border: 0 none;
  width: 1.8rem;
  height: 1.8rem;
  background: var(--range-thumb-bg);
  border: 0.35rem solid var(--range-thumb-br);
  border-radius: 50%;
}

input[type="range"]::-moz-slider-thumb {
  pointer-events: all;
  cursor: pointer;
  border: 0 none;
  width: 1.8rem;
  height: 1.8rem;
  background: var(--range-thumb-bg);
  border: 0.35rem solid var(--range-thumb-br);
  border-radius: 50%;
}

input[type="range"]::-moz-focus-outer {
  border: 0;
}

input[type="range"]::-ms-thumb {
  pointer-events: all;
  cursor: pointer;
  border: 0 none;
  width: 1.8rem;
  height: 1.8rem;
  background: var(--range-thumb-bg);
  border: 0.35rem solid var(--range-thumb-br);
  border-radius: 50%;
}

.slider {
  position: absolute;
  width: 100%;
  top: 0.6rem;
  z-index: 1;
  height: 0.8rem;
}

.slider>.track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 5rem;
  background-color: var(--track-bg);
}

.slider>.range {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  border-radius: 5rem;
  background: var(--track-active-bg);
}

.price__wrapper {
  width: 100%;
  color: var(--text);
  display: flex;
  
  justify-content: space-between;
  font-size: 2rem;
  margin-top: 3rem;
  font-weight: bold;
}

@media (max-width: 767px) {
  .blog-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 574px) {
  .blog-tabs {
  }
}




/* MonoDB password */
/* qt3gBFmRUY9ogV5D */